<app-dsh-base-layout>
    <div class="grid w-full p-5 bg-white rounded-lg shadow-sm">
        <app-dynamic-table [props]="TableProps" (onCustomButtonClicked)="handleCustomButtonClicked($event)"
            (onToolbarClicked)="handleToolbarClicked($event)">
        </app-dynamic-table>

        <p-dialog appendTo="body" [(visible)]="_modalToggler" [style]="{ width: '30rem' }"
            [header]="_formState == 'insert' ? 'Tambah Posisi' : 'Ubah Posisi'" [maximizable]="false"
            [resizable]="false" [draggable]="false" [modal]="true">

            <div class="flex flex-col w-full mb-7 gap-5" [formGroup]="Form">
                <!-- Kode -->
                <div class="flex flex-col gap-1 w-full">
                    <p class="text-sm text-gray-700 font-medium">
                        Kode Posisi
                        <span class="text-xs text-red-500">*</span>
                    </p>
                    <input formControlName="code" pInputText placeholder="Masukkan kode posisi"
                        class="p-inputtext-sm w-full">

                    @if (Form.get('code')?.touched && Form.get('code')?.invalid) {
                    <span class="bg-red-100 text-xs text-red-500 font-medium p-2 mt-1 rounded shadow-sm">
                        Kode Posisi tidak boleh kosong
                    </span>
                    }
                </div>

                <!-- Nama -->
                <div class="flex flex-col gap-1 w-full">
                    <p class="text-sm text-gray-700 font-medium">
                        Nama Posisi
                        <span class="text-xs text-red-500">*</span>
                    </p>
                    <input formControlName="title" pInputText placeholder="Masukkan nama posisi"
                        class="p-inputtext-sm w-full">

                    @if (Form.get('title')?.touched && Form.get('title')?.invalid) {
                    <span class="bg-red-100 text-xs text-red-500 font-medium p-2 mt-1 rounded shadow-sm">
                        Nama Posisi tidak boleh kosong
                    </span>
                    }
                </div>

                <!-- Departemen -->
                <div class="flex flex-col gap-1 w-full">
                    <p class="text-sm text-gray-700 font-medium">
                        Pilih Departemen
                        <span class="text-xs text-red-500">*</span>
                    </p>
                    <p-select [options]="_departemenDatasource" formControlName="department_id" optionLabel="title"
                        placeholder="Pilih departemen" size="small" class="w-full p-inputtext-sm" appendTo="body">
                        <ng-template #selectedItem let-selectedOption>
                            @if (selectedOption) {
                            <div class="flex items-center gap-2">
                                <span>
                                    <i class="pi pi-circle-fill {{ selectedOption.color }}" style="font-size: 9px;"></i>
                                </span>

                                <p class="text-gray-700 font-medium text-sm">
                                    {{ selectedOption.title | titlecase }}
                                </p>
                            </div>
                            }
                        </ng-template>
                        <ng-template let-departemen #item>
                            <div class="flex items-center gap-2">
                                <span>
                                    <i class="pi pi-circle-fill {{ departemen.color }}" style="font-size: 9px;"></i>
                                </span>
                                <p class="text-gray-700 font-medium text-sm">
                                    {{ departemen.title | titlecase }}
                                </p>
                            </div>
                        </ng-template>
                    </p-select>

                    @if (Form.get('department_id')?.touched && Form.get('department_id')?.invalid) {
                    <span class="bg-red-100 text-xs text-red-500 font-medium p-2 mt-1 rounded shadow-sm">
                        Departemen tidak boleh kosong
                    </span>
                    }
                </div>

                <!-- Keterangan -->
                <div class="flex flex-col gap-1 w-full">
                    <p class="text-sm text-gray-700 font-medium">
                        Keterangan
                    </p>
                    <textarea formControlName="description" pInputTextarea rows="3" class="p-inputtext-sm"
                        placeholder="Masukkan keterangan"></textarea>
                </div>
            </div>

            <div class="flex w-full justify-end items-center gap-3">
                <p-button severity="secondary" label="Tutup" styleClass="p-button-sm" (onClick)="_modalToggler = false">
                </p-button>

                @if (_formState == 'insert') {
                <p-button severity="info" label="Simpan" styleClass="p-button-sm" [disabled]="Form.invalid"
                    (onClick)="handleSave(Form.value)">
                </p-button>
                } @else {
                <p-button severity="info" label="Update" styleClass="p-button-sm" [disabled]="Form.invalid"
                    (onClick)="handleUpdate(Form.value)">
                </p-button>
                }
            </div>
        </p-dialog>
    </div>
</app-dsh-base-layout>