<div class="flex w-full overflow-x-hidden">
    <app-dsh-sidebar></app-dsh-sidebar>

    <div class="flex flex-col w-full min-w-0">
        <app-dsh-navbar></app-dsh-navbar>

        <div class="grid w-full bg-gray-200 p-3 md:p-5 transition-all overflow-x-hidden">
            <div class=" flex flex-col w-full gap-4" style="height: calc(100vh - 7rem);">
                <app-icon-title></app-icon-title>

                <div class="grid w-full" style="max-height: calc(100vh - 8rem); overflow-y: auto;">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </div>
</div>

<p-confirm-dialog></p-confirm-dialog>
<app-dsh-loading></app-dsh-loading>
<p-toast></p-toast>