<app-landing-layout>
  <!-- Banner & Service-->
  <div class="grid-bg grid-vignette w-full mx-auto relative">
    <!-- Hero -->
    <div class="container w-full mx-auto py-12 mb-16">
      <!-- Text Hero -->
      <div class="flex flex-col w-full justify-center items-center gap-0 md:gap-0 p-5 relative z-10">
        <img src="/assets/image/logo_blue.png" alt="logo" class="rounded-2xl w-16 md:w-24 mb-5" />
        <p class="md:text-5xl text-3xl font-bold text-gray-200 text-center mb-1">
          {{ 'HOME.Power Up Your' | translate | uppercase }}
        </p>
        <p
          class="md:text-8xl text-5xl font-extrabold bg-gradient-to-r from-sky-500 via-blue-500 to-emerald-500 bg-clip-text text-transparent mt-0 text-center mb-3">
          {{ 'HOME.Creativity Workflow' | translate | uppercase }}
        </p>
        <p class="text-base md:text-lg text-gray-400 font-normal text-center">
          {{ 'HOME.Digital Solution Sub Headline' | translate }}
        </p>
      </div>

      <!-- Image Target -->
      <img src="/assets/image/3d-target.png" alt="target"
        class="absolute h-[3rem] md:h-[5rem] top-[45px] md:top-[15%] left-[65px] md:left-[25%]" />

      <!-- Image Rocket -->
      <img src="/assets/image/3d-rocket.png" alt="rocket"
        class="absolute h-[5rem] md:h-[7.5rem] top-[460px] md:top-[35%] right-[10%] md:right-[20%] -rotate-45" />

      <!-- Image Stopwatch -->
      <img src="/assets/image/3d-stopwatch.png" alt="rocket"
        class="absolute h-[4rem] md:h-[6rem] top-[460px] md:top-[40%] left-[5%] md:left-[15%]" />

      <!-- Button -->
      <div class="flex flex-col w-full md:flex-row md:items-center md:justify-center gap-5 px-8">
        <p-button styleClass="p-button-secondary w-full" label="{{ 'BUTTON.Shop Now' | translate }}"
          icon="pi pi-shopping-cart"></p-button>

        <p-button styleClass="p-button-info w-full" label="{{ 'BUTTON.Contact Us' | translate }}"
          icon="pi pi-envelope"></p-button>
      </div>
    </div>

    <!-- Service -->
    <div class="container flex flex-col w-full items-center justify-center mx-auto py-10">
      <!-- Badge Title -->
      <div class="flex mx-auto mb-5">
        <app-badge-title [title]="'HOME.Services' | translate"></app-badge-title>
      </div>

      <!-- Sub heading  -->
      <div class="flex w-full md:w-5/12 mb-10">
        <p class="text-sm md:text-xl text-center font-semibold text-gray-200">
          {{ 'HOME.Services Subheader' | translate }}
        </p>
      </div>

      <!-- Card Service -->
      <div class="grid grid-cols-1 md:grid-cols-4 w-full gap-5 px-10">
        @for (item of Services; track $index) {
        <app-card-service [props]="item"></app-card-service>
        }
      </div>
    </div>
  </div>

  <!-- Couting -->
  <div class="flex flex-col gap-5 bg-gray-800 py-10 w-full">
    <div class="container flex flex-row w-full justify-center items-center mx-auto">
      <!-- Headling -->
      <div class="flex flex-col gap-2 w-7/12">
        <p class="text-gray-200 text-2xl font-semibold mb-2">
          {{ 'HOME.Count Headline' | translate }}
        </p>
        <p class="text-gray-400 text-base font-medium md:pr-20 text-justify">
          {{ 'HOME.Count Sub Headline' | translate }}
        </p>
      </div>

      <div class="grid grid-cols-2 w-5/12 items-center justify-center gap-10 px-5">
        <!-- Happy Client -->
        <app-counting-proof label="Happy Client" [value]="Count.client"></app-counting-proof>

        <!-- Project -->
        <div class="flex flex-col w-full items-center justify-center">
          <p class="text-7xl font-bold text-gray-200">
            {{ Count.project }}
          </p>
          <p class="text-base text-gray-400 font-medium">Awesome Project</p>
        </div>

        <!-- Years Experience -->
        <div class="flex flex-col w-full items-center justify-center">
          <p class="text-7xl font-bold text-gray-200">
            {{ Count.experience }}
          </p>
          <p class="text-base text-gray-400 font-medium">Years Experience</p>
        </div>

        <!-- Tech Stack -->
        <div class="flex flex-col w-full items-center justify-center">
          <p class="text-7xl font-bold text-gray-200">
            {{ Count.tech_stack }}
          </p>
          <p class="text-base text-gray-400 font-medium">Tech Stack</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Latest Product -->
  <div class="grid-bg grid-vignette w-full mx-auto relative">
    <div class="container flex flex-col w-full items-center justify-center mx-auto py-10">
      <!-- Badge Title -->
      <div class="flex mx-auto mb-5">
        <app-badge-title [title]="'HOME.Product' | translate"></app-badge-title>
      </div>

      <!-- Sub heading  -->
      <div class="flex w-full md:w-5/12 mb-10">
        <p class="text-sm md:text-xl text-center font-semibold text-gray-200">
          {{ 'HOME.Product Subheader' | translate }}
        </p>
      </div>

      <!-- Card Service -->
      <div class="grid grid-cols-1 md:grid-cols-4 w-full gap-5 px-10">
        @for (item of Services; track $index) {
        <app-card-service [props]="item"></app-card-service>
        }
      </div>
    </div>
  </div>
</app-landing-layout>