<app-landing-layout>
  <!-- Banner & Service-->
  <div class="grid-bg grid-vignette w-full mx-auto relative">
    <!-- Hero -->
    <div class="container w-full mx-auto py-12 mb-16">
      <!-- Text Hero -->
      <div class="flex flex-col w-full justify-center items-center gap-0 md:gap-0 p-5 relative z-10">
        <img src="/assets/image/logo_blue.png" alt="logo" class="rounded-2xl w-16 md:w-24 mb-5" />
        <p class="md:text-5xl text-3xl font-bold text-gray-200 text-center mb-1">
          {{ 'HOME.Power Up Your' | translate | uppercase }}
        </p>
        <p
          class="md:text-8xl text-5xl font-extrabold bg-gradient-to-r from-sky-500 via-blue-500 to-emerald-500 bg-clip-text text-transparent mt-0 text-center mb-3">
          {{ 'HOME.Creativity Workflow' | translate | uppercase }}
        </p>
        <p class="text-base md:text-lg text-gray-400 font-normal text-center">
          {{ 'HOME.Digital Solution Sub Headline' | translate }}
        </p>
      </div>

      <!-- Image Target -->
      <img src="/assets/image/3d-target.png" alt="target"
        class="absolute h-[3rem] md:h-[5rem] top-[45px] md:top-[15%] left-[65px] md:left-[25%]" />

      <!-- Image Rocket -->
      <img src="/assets/image/3d-rocket.png" alt="rocket"
        class="absolute h-[5rem] md:h-[7.5rem] top-[460px] md:top-[35%] right-[10%] md:right-[20%] -rotate-45" />

      <!-- Image Stopwatch -->
      <img src="/assets/image/3d-stopwatch.png" alt="rocket"
        class="absolute h-[4rem] md:h-[6rem] top-[460px] md:top-[40%] left-[5%] md:left-[15%]" />

      <!-- Button -->
      <div class="flex flex-col w-full md:flex-row md:items-center md:justify-center gap-5 px-8">
        <p-button styleClass="p-button-secondary w-full" label="{{ 'BUTTON.Shop Now' | translate }}"
          icon="pi pi-shopping-cart"></p-button>

        <p-button styleClass="p-button-info w-full" label="{{ 'BUTTON.Contact Us' | translate }}"
          icon="pi pi-envelope"></p-button>
      </div>
    </div>

    <!-- Service -->
    <div class="container flex flex-col w-full items-center justify-center mx-auto py-10">
      <!-- Badge Title -->
      <div class="flex mx-auto mb-5">
        <app-badge-title [title]="'HOME.Services' | translate"></app-badge-title>
      </div>

      <!-- Sub heading  -->
      <div class="flex w-full md:w-5/12 mb-10">
        <p class="text-sm md:text-xl text-center font-semibold text-gray-200">
          {{ 'HOME.Services Subheader' | translate }}
        </p>
      </div>

      <!-- Card Service -->
      <div class="grid grid-cols-1 md:grid-cols-4 w-full gap-5 px-10">
        @for (item of Services$ | async; track $index) {
        <app-card-service [props]="item"></app-card-service>
        }
      </div>
    </div>
  </div>

  <!-- Couting -->
  <div class="flex flex-col gap-5 bg-gray-900 py-10 w-full">
    <div class="container flex flex-row w-full justify-center items-center mx-auto">
      <!-- Headling -->
      <div class="flex flex-col gap-2 w-7/12">
        <p class="text-gray-200 text-2xl font-semibold mb-2">
          {{ 'HOME.Count Headline' | translate }}
        </p>
        <p class="text-gray-400 text-base font-medium md:pr-20 text-justify">
          {{ 'HOME.Count Sub Headline' | translate }}
        </p>
      </div>

      <div class="grid grid-cols-2 w-5/12 items-center justify-center gap-10 px-5">
        <!-- Happy Client -->
        <div class="flex flex-col w-full items-center justify-center">
          <p class="text-7xl font-bold text-gray-200">
            {{ Count.client }}
          </p>
          <p class="text-base text-gray-400 font-medium">Happy Client</p>
        </div>

        <!-- Project -->
        <div class="flex flex-col w-full items-center justify-center">
          <p class="text-7xl font-bold text-gray-200">
            {{ Count.project }}
          </p>
          <p class="text-base text-gray-400 font-medium">Awesome Project</p>
        </div>

        <!-- Years Experience -->
        <div class="flex flex-col w-full items-center justify-center">
          <p class="text-7xl font-bold text-gray-200">
            {{ Count.experience }}
          </p>
          <p class="text-base text-gray-400 font-medium">Years Experience</p>
        </div>

        <!-- Tech Stack -->
        <div class="flex flex-col w-full items-center justify-center">
          <p class="text-7xl font-bold text-gray-200">
            {{ Count.tech_stack }}
          </p>
          <p class="text-base text-gray-400 font-medium">Tech Stack</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Latest Product -->
  <div class="grid-bg grid-vignette w-full mx-auto relative">
    <div class="container flex flex-col w-full items-center justify-center mx-auto py-10">
      <!-- Badge Title -->
      <div class="flex mx-auto mb-5">
        <app-badge-title [title]="'HOME.Product' | translate"></app-badge-title>
      </div>

      <!-- Sub heading  -->
      <div class="flex w-full md:w-5/12 mb-10">
        <p class="text-sm md:text-xl text-center font-semibold text-gray-200">
          {{ 'HOME.Product Subheader' | translate }}
        </p>
      </div>

      <!-- Card Service -->
      <div class="grid grid-cols-1 md:grid-cols-4 w-full gap-5 px-10">
        @for (item of Product$ | async; track $index) {
        <app-card-product [props]="item"></app-card-product>
        }
      </div>
    </div>
  </div>

  <!-- Who We Are -->
  <div class="grid bg-gray-900 w-full">
    <div class="container flex flex-row w-full items-center justify-center mx-auto">
      <div class="flex w-6/12">
        <img src="/assets/image/we.png" alt="who-we-are" class="w-full h-auto object-cover object-center">
      </div>

      <div class="flex flex-col w-5/12">
        <!-- Badge Title -->
        <div class="flex mb-5">
          <app-badge-title [title]="'HOME.Who We Are' | translate"></app-badge-title>
        </div>

        <!-- Sub heading  -->
        <div class="flex w-full mb-4">
          <p class="text-sm md:text-4xl font-semibold text-gray-300 text-justify">
            {{ 'HOME.Who We Are Subheader' | translate }}
          </p>
        </div>

        <!-- Description  -->
        <div class="flex w-full mb-6">
          <p class="text-base text-gray-500 text-justify">
            {{ 'HOME.Who We Are Description' | translate }}
          </p>
        </div>

        <!-- Point -->
        <div class="grid grid-cols-2 gap-3 p-5 rounded-lg border border-dashed border-gray-500">
          @for (item of WhoWeAreValues; track $index) {
          <p class="text-sm text-gray-500 text-justify">
            <span class="mr-2">
              <i class="pi pi-check text-emerald-400" style="font-size: 12px;"></i>
            </span>
            {{ item.title| translate }}
          </p>
          }
        </div>
      </div>
    </div>
  </div>

  <!-- Why Choose Us -->
  <div class="flex flex-col gap-5 py-10 w-full pattern-bg">
    <div class="container flex flex-col w-full items-center justify-center mx-auto py-10">
      <!-- Badge Title -->
      <div class="flex mx-auto mb-5">
        <app-badge-title [title]="'HOME.Why Choose Us' | translate"></app-badge-title>
      </div>

      <!-- Sub heading  -->
      <div class="flex w-full md:w-6/12 mb-10">
        <p class="text-sm md:text-xl text-center font-semibold text-gray-200">
          {{ 'HOME.Why Choose Us Subheader' | translate }}
        </p>
      </div>

      <!-- Card Service -->
      <div class="grid grid-cols-1 md:grid-cols-2 w-full gap-6 px-10">
        @for (item of WhyChooseUs; track $index) {
        <div class="flex flex-row w-full gap-3 items-center p-5 rounded-xl bg-gray-800/70">

          <div class="flex items-center justify-center rounded-full bg-sky-600 w-[3rem] h-[3rem]">
            <i [class]="item.icon" style="font-size: 20px;"></i>
          </div>

          <div class="flex flex-col">
            <p class="text-lg text-gray-100 font-semibold">
              {{ item.title | translate }}
            </p>
            <p class="text-sm text-gray-400">
              {{ item.description | translate }}
            </p>
          </div>

        </div>
        }
      </div>
    </div>
  </div>

  <!-- FAQ -->
  <div class="grid bg-gray-900 w-full mx-auto relative">
    <div class="container flex flex-col w-full items-center justify-center mx-auto py-10">
      <!-- Badge Title -->
      <div class="flex mx-auto mb-5">
        <app-badge-title [title]="'HOME.FAQ' | translate"></app-badge-title>
      </div>

      <!-- Sub heading  -->
      <div class="flex w-full md:w-5/12 mb-10 justify-center">
        <p class="text-sm md:text-2xl text-center font-semibold text-gray-200">
          {{ 'HOME.FAQ Description' | translate }}
        </p>
      </div>

      <!-- Card Service -->
      <div class="grid grid-cols-1 w-full gap-5 px-10 md:px-36">
        <p-accordion [value]="0">
          @for (tab of Faq; track $index) {
          <p-accordion-panel [value]="$index">
            <p-accordion-header>
              <p class="text-base font-medium text-gray-300">
                {{ tab.question | translate }}
              </p>
            </p-accordion-header>
            <p-accordion-content>
              <p class="text-base text-gray-500">{{ tab.answer | translate}}</p>
            </p-accordion-content>
          </p-accordion-panel>
          }
        </p-accordion>
      </div>
    </div>
  </div>

  <!-- Contact Us -->
  <div class="grid-bg grid-vignette w-full mx-auto relative">
    <div class="container flex flex-col w-full items-center justify-center mx-auto py-10">
      <!-- Contact Us -->
      <div class="flex mx-auto mb-5">
        <app-badge-title [title]="'HOME.Contact Us' | translate"></app-badge-title>
      </div>

      <!-- Sub heading  -->
      <div class="flex w-full md:w-5/12 mb-10">
        <p class="text-sm md:text-xl text-center font-semibold text-gray-200">
          {{ 'HOME.Contact Us Subheader' | translate }}
        </p>
      </div>

      <!-- Form and Whatsapp number  -->
      <div class="flex flex-row justify-center w-8/12 gap-3 bg-gray-900/80 p-10 rounded-xl shadow">
        <div class="flex flex-col w-6/12 p-5 gap-5">
          <!-- Full Name -->
          <div class="flex flex-col gap-1 w-full">
            <p class="text-gray-300 text-sm font-medium">
              {{ 'FORM.Full Name.Label' | translate}}
            </p>
            <input type="text" pInputText class="w-full p-inputtext-sm"
              [placeholder]="'FORM.Full Name.Placeholder' | translate">
          </div>

          <!-- Email -->
          <div class="flex flex-col gap-1 w-full">
            <p class="text-gray-300 text-sm font-medium">
              {{ 'FORM.Email.Label' | translate}}
            </p>
            <input type="email" pInputText class="w-full p-inputtext-sm"
              [placeholder]="'FORM.Email.Placeholder' | translate">
          </div>

          <!-- Phone Number -->
          <div class="flex flex-col gap-1 w-full">
            <p class="text-gray-300 text-sm font-medium">
              {{ 'FORM.Phone Number.Label' | translate}}
            </p>
            <input type="tel" pInputText class="w-full p-inputtext-sm"
              [placeholder]="'FORM.Phone Number.Placeholder' | translate">
          </div>

          <!-- Content -->
          <div class="flex flex-col gap-1 w-full">
            <p class="text-gray-300 text-sm font-medium">
              {{ 'FORM.Content.Label' | translate}}
            </p>
            <textarea pInputTextarea rows="5" class="w-full p-inputtext-sm"
              [placeholder]="'FORM.Content.Placeholder' | translate"></textarea>
          </div>

          <div class="grid w-full">
            <p-button severity="info" styleClass="p-button-sm w-full" label="Send Us Message"></p-button>
          </div>
        </div>

        <div class="flex flex-col w-6/12 p-5 gap-0">

          <div class="flex flex-col w-full mb-8">
            <p class="text-lg text-gray-200 font-medium">
              {{ 'FORM.Chat With Us' | translate}}
            </p>
            <p class="text-sm text-gray-500">
              {{ 'FORM.Speak To Our Friendly Team' | translate}}
            </p>

          </div>

          <div class="flex flex-row gap-1 mb-2 cursor-pointer">
            <span>
              <i class="pi pi-whatsapp text-gray-400"></i>
            </span>
            <p class="text-gray-400 text-sm font-medium underline">
              {{ 'FORM.Message Whatsapp' | translate}}
            </p>
          </div>

          <div class="flex flex-row gap-1 cursor-pointer mb-10">
            <span>
              <i class="pi pi-envelope text-gray-400"></i>
            </span>
            <p class="text-gray-400 text-sm font-medium underline">
              {{ 'FORM.Message Email' | translate}}
            </p>
          </div>

          <div class="flex flex-col gap-3 cursor-pointer">
            <p class="text-gray-300 text-sm font-medium">
              {{ 'FORM.Lets Connect' | translate}}
            </p>

            <div class="flex flex-row gap-3 w-full items-center">
              <img src="/assets/image/instagram.png" alt="instagram" class="w-[2rem] h-[2rem]">

              <img src="/assets/image/threads.png" alt="threads" class="w-[2rem] h-[2rem]">

              <img src="/assets/image/tiktok.png" alt="tiktok" class="w-[2rem] h-[2rem]">

              <p class="text-gray-400">|</p>

              <img src="/assets/image/shopee.png" alt="shopee" class="w-[2rem] h-[2rem]">

              <img src="/assets/image/tokopedia.png" alt="tokopedia" class="w-[2rem] h-[2.5rem]">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</app-landing-layout>