@if (userData | async; as user) {
<div class="flex flex-row justify-between p-5 bg-white shadow-sm h-[4.5rem]">
    <div class="flex w-4/12">
        <p-iconfield styleClass="w-full">
            <p-inputicon class="pi pi-search" />
            <input type="text" pInputText placeholder="Search" class="p-inputtext-sm w-full" readonly
                (click)="openSearchModal()" />
        </p-iconfield>
    </div>

    @if(user.current_application.is_trial) {
    <div class="flex items-center gap-2">
        <span class="px-2 py-1 rounded-md shadow-sm bg-red-100 text-red-500 text-xs font-semibold"
            style="width: fit-content;">
            Trial Account
        </span>
        <p class="text-red-500 text-sm">
            Berakhir pada :
            <span class="text-red-500 font-medium">
                {{ user.current_application.expired_at | date: 'dd MMMM yyyy' }}
            </span>
        </p>
    </div>
    }

    <div class="flex items-center gap-5">
        <p-button styleClass="p-button-sm" [rounded]="false" icon="pi pi-cloud-download" [outlined]="true"
            severity="secondary" [pTooltip]="'Download Database'" tooltipStyleClass="text-sm" tooltipPosition="bottom"
            (onClick)="handleDownloadDatabase()">
        </p-button>

        <p-button styleClass="p-button-sm mr-2" [rounded]="false" icon="pi pi-external-link" [outlined]="true"
            severity="secondary" [pTooltip]="'Apps Lainnya'" tooltipStyleClass="text-sm" tooltipPosition="bottom"
            (onClick)="handleNavigateToYourApps()">
        </p-button>

        <div class="flex flex-row items-center gap-3 pl-6 border-l border-y-0 border-r-0 border-solid border-gray-200">
            <p-button styleClass="p-button-sm" [rounded]="true" icon="pi pi-user" [outlined]="true"
                severity="secondary">
            </p-button>

            <div class="flex flex-col gap-0">
                <p class="text-sm text-gray-700 font-medium">
                    {{ user.user.full_name }}
                </p>
                <p class="text-xs text-gray-500">
                    {{ user.user.email }}
                </p>
            </div>

        </div>
    </div>
</div>
}


<app-dsh-navbar-search #navbarSearchModal></app-dsh-navbar-search>

<app-dsh-navbar-db-action #navbarDbAction></app-dsh-navbar-db-action>