<div class="grid w-full">
    <div class="flex items-center w-full mb-5">
        <div class="flex flex-col">
            <p class="text-lg font-semibold text-gray-700">
                {{ props.title }}
            </p>
            <p class="text-sm text-gray-500">
                {{ props.description }}
            </p>
        </div>

        <div class="flex w-3/12 ml-auto mr-10">
            <p-iconfield styleClass="w-full">
                <p-inputicon class="pi pi-search" />
                <input type="text" pInputText placeholder="Search" class="p-inputtext-sm w-full"
                    [(ngModel)]="KeywordSearch" (ngModelChange)="handleKeydownSearch($event)" />
            </p-iconfield>
        </div>

        <div class="flex flex-row gap-3">
            <p-button severity="secondary" [outlined]="true" icon="pi pi-filter" label="Filter" styleClass="p-button-sm"
                (onClick)="opFilter.toggle($event)" [badge]="FilterCount">
            </p-button>

            <p-button severity="secondary" [outlined]="true" icon="pi pi-sort" label="Sort" styleClass="p-button-sm">
            </p-button>

            @for (item of props.custom_button; track $index) {
            <p-button [id]="item.id" severity="secondary" [outlined]="true" [icon]="item.icon" [label]="item.title"
                styleClass="p-button-sm" (onClick)="handleCustomButtonClicked(item)">
            </p-button>
            }
        </div>
    </div>

    <div class="grid w-full pt-1 border-t border-b-0 border-x-0 border-gray-200 border-solid">
        <p-table id="GridComponents" [value]="props.datasource" [columns]="props.column"
            styleClass="p-datatable-striped transition-all" [tableStyle]="{'min-width': '50rem'}" selectionMode="single"
            [(selection)]="selectedRow" [paginator]="props.paging" [first]="0" [showCurrentPageReport]="true"
            currentPageReportTemplate="Data ke {first} - {last} dari {totalRecords} total data" [rows]="5"
            [rowsPerPageOptions]="[5, 10, 25, 50, 100]" [scrollable]="true" scrollHeight="calc(100vh - 19rem)"
            appendTo="body" paginatorDropdownAppendTo="body">
            <ng-template pTemplate="header" let-columns>
                <tr class="bg-gray-100">
                    @for (col of columns; track $index) {
                    <th class="text-sm">
                        {{ col.title }}
                    </th>
                    }

                    <th class="text-sm text-center">
                        Aksi
                    </th>
                </tr>
            </ng-template>
            @if (props.datasource) {
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData" (dblclick)="handleRowDoubbleClicked(rowData)">
                    @for (col of columns; track $index) {
                    <td class="text-sm {{ col.class }}" [style.width]="col.width ? col.width : 'auto'"
                        (click)="handleCellClicked(rowData, col)">
                        @if (col.type == columType.TEXT) {
                        {{ handleGetNestedValue(rowData, col.id) }}
                        } @else if (col.type == columType.TEXTWITHDESCRIPTION) {
                        <span class="text-sm text-gray-700 font-medium mb-0">
                            {{ handleGetNestedValue(rowData, col.id) }}
                        </span>
                        <br>
                        <span class="text-xs text-gray-600">
                            {{ handleGetNestedValue(rowData, col.description) }}
                        </span>
                        } @else if (col.type == columType.NUMBER) {
                        {{ handleFormatStringToNumber(rowData[col.id]) | number: '' }}
                        } @else if (col.type == columType.DATE) {
                        {{ rowData[col.id] | date: 'dd-MM-yyyy' }}
                        } @else if (col.type == columType.TIME) {
                        {{ rowData[col.id] | date: 'HH:mm:ss' }}
                        } @else if (col.type == columType.DATETIME) {
                        {{ rowData[col.id] | date: 'dd-MM-yyyy HH:mm:ss' }}
                        } @else if (col.type == columType.CURRENCY) {
                        {{ handleFormatStringToNumber(rowData[col.id]) | currency: 'Rp. ' }}
                        } @else if (col.type == columType.BADGE) {
                        <span class="px-2 py-1 rounded text-white" [ngClass]="'bg-' + col.badge_color + '200'">
                            <span>
                                <i class="pi pi-circle-fill text-{{ col.badge_color }}-800" style="font-size: 9px;"></i>
                            </span>
                            <p class="text-xs text-{{ col.badge_color }}-800">
                                {{ rowData[col.id] }}
                            </p>
                        </span>
                        } @else if (col.type == columType.BUTTON_ICON) {
                        <div
                            class="flex flex-row gap-2 items-center px-2 py-1 border border-solid border-gray-300 bg-white rounded-lg shadow-sm">
                            <span>
                                <i [class]="col.button_icon.icon_class + ' ' + handleGetNestedValue(rowData, col.button_icon.icon_color)"
                                    style="font-size: 9px;"></i>
                            </span>
                            @if (col.button_icon.use_parsing_func) {
                            <p class="text-sm text-gray-700">
                                {{ handleFormatColor(rowData[col.button_icon.title]) | titlecase}}
                            </p>
                            } @else {
                            <p class="text-sm text-gray-700">
                                {{ handleGetNestedValue(rowData, col.button_icon.title) | titlecase}}
                            </p>
                            }
                        </div>
                        } @else if (col.type == undefined) {
                        {{ rowData[col.id] }}
                        } @else {
                        {{ rowData[col.id] }}
                        }
                    </td>
                    }

                    <!-- toolbar -->
                    @if (props.toolbar) {
                    <td>
                        <div class="flex justify-center w-full gap-3">
                            @for (item of props.toolbar; track $index) {
                            <p-button [id]="item.id" [severity]="item.id == 'delete' ? 'danger' : 'secondary'"
                                [icon]="item.icon" [outlined]="true" styleClass="p-button-sm"
                                (onClick)="handleToolbarClicked(item, rowData)">
                            </p-button>
                            }
                        </div>
                    </td>
                    }
                </tr>
            </ng-template>
            } @else {
            <ng-template>
                <div class="flex w-full justify-center">
                    <p class="text-sm font-medium text-gray-700">
                        Tidak ada data
                    </p>
                </div>
            </ng-template>
            }
        </p-table>
    </div>
</div>

<p-popover #opFilter appendTo="body">
    <div class="flex flex-col gap-4 w-[25rem]">
        <div class="flex flex-row justify-between items-center">
            <p class="text-gray-700 font-medium text-base">Filter</p>

            <p class="text-sky-600 text-xs cursor-pointer" (click)="handleClearFilter(); opFilter.hide()">
                Hapus Semua
            </p>
        </div>

        <app-dynamic-table-filter #FilterComps [props]="props.filter!"
            (onFilter)="handleFilter($event); opFilter.hide()">
        </app-dynamic-table-filter>
    </div>
</p-popover>